.auth{
  position: relative;
  left: 50%;

}
.form{
  position: relative;
  top: 15%
}
form[name="authinfo"]{
  position: relative;
  /* margin: auto; */
  right: 5%;
  display: block;
  box-sizing: border-box;
}

.fullScreen{
  position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}


/* -------Authentication area----------- */

#user,#password, #newUser, #newPassword, #cPassword{
  padding: 5px 5px;
  margin: 2px;
  display: block;
  box-sizing: border-box;
}
form[name="register"]{
  /* margin: auto; */
  position: relative;
  margin-top: 2%;
  right: 5%;
  display: block
}

#login,.button {
  color: black;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  transition: 0.3s;
}

/* -------Task-making area----------- */
#taskInfo{
  overflow: hidden;
}
.container{
  text-align: auto;
  margin: 5px;
}
.hide{
  display: none;
}
.show{
  text-align: auto;
  margin: 5px;
}
.label{
  display: block;
  font-weight: bold;
}

#transcript{
  background-color: var(--background)
}

/* Add a hover effect for buttons */
#login:hover {
  opacity: 0.8;
  background-color: rgb(26, 131, 192);
}

#textbox{
  display: block;
  padding: 10px;
  margin: 10px;
}
.button{
  margin: 0px 10px 20px 10px;
}
.button:hover {
  opacity: 0.8;
  background-color: rgb(26, 131, 192);
}
#calendar{
  margin: 10px;
  padding: 10px;
}


html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

/* List Items strike through */
.done {
  text-decoration: line-through;
}

.undone {
}

.icon {
  margin: 6px 10px 6px 0;
}

.a-card {
  background-color: var(--secondary);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  border: 2px solid var(--third);
}


.a-card-info {
  font-size: 24px;
  margin: 0px;
}

.a-card-title {
  margin-top: 10px;
  min-height: 100px;
}

.a-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.dark_theme {
  background-color: var(--secondary) !important;
  color: var(--text) !important;
  border: 0px solid var(--third) !important;
}

.dark_theme_pop_text_2 {
  background-color: var(--background) !important;
  color: var(--popcolor) !important;
  border: 1px solid var(--popcolor) !important;
}


.dark_theme_hover:hover {
  background-color: var(--popcolor) !important;
  color: var(--text) !important;
  border: 0px solid var(--third) !important;
}

.dark_theme_pop {
  background-color: var(--popcolor) !important;
}


.dark_theme_pop_text {
  background-color: var(--secondary) !important;
  color: var(--popcolor) !important;
  border: 0px solid var(--third) !important;
}

.theme_border {
  border-radius: 10px;
  border: 1px solid var(--popcolor) !important;
}

.full_length {
  height: 100%;
}

.align {
  margin-top: 20px !important;
  margin-left: 50px !important;
}

.placeholder {
  background: transparent;
}

.placeholder:before {
  background: var(--popcolor);
}

.li_todo {
  padding: 10px 15px;
  background: transparent;
}

.li_todo:hover {
  background: darken(#eee, 5%) !important;
}


.ul_todo {
  list-style: none;
  margin:0;
  padding:0;
}

input, textarea, select {
  background-color: var(--background) !important;
  color: var(--text) !important;
  /* border: 0px solid var(--third) !important; */
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none !important;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--popcolor) !important ;
}

.no_border {
  border: 0px !important;
}

.pb-10 {
  padding-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.p-0 {
  padding: 0px;;
}

.m-10 {
  margin: 10px;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mt-10 {
  margin-top: 40px !important;
}

.fit {
  /* display: inline-block !important; */
  width: fit-content !important;
}

.border-10 {
  border-radius: 10px;
}

.rs-input-group-addon {
  justify-content: center !important;
  width: 15% !important;
}

.mh-100{
  min-height: 100% !important;
}

.textarea.rs-input {
  min-width: none !important;
}

/*----------Tasks display-------*/
.smallTable{
  font-size: 18px;
  /* color: red; */
  /* margin: auto; */
  position: relative;
  left: 120px;
  width: 90px;
  height: max-content;
}
.bigTable{
  color: red;
  font-size: 22px;
  width: 1145px;
  height: max-content;
  position: relative;
  left: 60px;
  border-radius: 10px;
}

.row-content{
  margin: 5px;
}
.col-content{
  height: 40px;
}

.col-priority{
  width: 150px;
}

.col-task{
  width: 500px;
}

#root {
  height: 100%;
}
